*{
    padding:0;
    margin: 0;
}

body{
    width:100%;
    min-height: 100vh;
}

.page{
    min-height: 100vh;
}

.image{
    width: 250px;
}

.start-section{
    min-height: 100vh;
}

.welcome-page-h1{
    font-size: 3rem;
}

.entry-menu{
    top:0;
    width:100%;
    min-height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.263);
}

.entry-creator{
    height: 300px;
}

#Entries{
    max-height:500px;
    scrollbar-width: none;   /* Firefox */
    -ms-overflow-style: none;/* Internet Explorer/Edge */
}

#ENTRIES::-webkit-scrollbar {
    display: none;           /* Chrome, Safari, Opera */
}